body {
  background: white;
  padding-top:114px;
  width: 1440px;
  margin:0 auto;
  header {
    background: url("../img/header_image.jpg") no-repeat;
    background-size: cover;
    height: 422px;
    border: none;
    box-shadow: none;
    position: static;
    h1 {
      font-family: nunitolight;
      font-size: 61px;
      text-align: left;
      width: 50%;
      position: relative;
      margin: 0 auto;
      text-transform: uppercase;
      margin-top: 105px;
      margin-left: 300px;
      line-height: 1.02;
      .icons-play {
        color: #ea3736;
        position: absolute;
        left: -63px;
        font-size: 42px;
        top: 16px;
      }
    }
  }
  main{
    width: 840px;
    margin: 0px auto;
    margin-top: 64px;
    p {
      font-family: nunitolight;
      font-size: 23px;
      color: #061826;
      margin: 0 auto;
      line-height: 1.3;
      margin-bottom: 26px;
    }
    nav{
      width: 1000px;
      margin-top: -6px;
      ul{
        margin:0 auto;
        li{
          list-style: none;
          float: left;
          background: #00a0d3;
          text-transform: uppercase;
          height: 55px;
          margin-right: 34px;
          padding: 13px 23px;
          a{
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            font-family: nunitolight;
            font-size: 19px;
            text-align: center;
          }
        }
      }
    }
  }
  section#content {
    width: 840px;
    margin: 0 auto;
    padding-top: 122px;
    button {
      background: #00a0d3;
      color: white;
      text-transform: uppercase;
      margin: 5px;
      font-family: nunitolight;
      font-size: 18px;
    }
    p {
      font-family: nunitolight;
      font-size: 23px;
      color: #061826;
      line-height: 1.3;
      margin-bottom: 23px;
    }
    div.menu {
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }
    h2 {
      color: #00a0d3;
      text-transform: uppercase;
      font-family: nunitolight;
      font-size: 45px;
      margin-bottom: 21px;
      .icons-play {
        color: #ea3736;
        font-size: 23px;
        position: relative;
        top: -8px;
        margin-right: -33px;
        left: -43px;
      }
    }
    div#slider ,  div#slider_2{
      margin-top: 76px;
      div.row {
        margin: 0 auto;
        position: relative;
        max-width: none;
        .left_button {
          width: 50px;
          height: 200px;
          position: absolute;
          top: 0;
          left: -53px;
          padding: 76px 0px;
          z-index: 1;
          a.btn.prev {
            position: relative;
            left: 53px;
            top: -11px;
            background: url('../img/left_button.png') no-repeat;
            width: 28px;
            height: 55px;
          }
          i {
            font-size: 76px;
            color: black;
          }
        }

        .right_button {
          width: 50px;
          height: 200px;
          position: absolute;
          right: -53px;
          padding: 76px 0px;
          z-index: 1;
          top: 0;
          a.btn.next {
            position: relative;
            right: 33px;
            top: -11px;
            background: url('../img/right_button.png') no-repeat;
            width: 28px;
            height: 56px;
          }
          i {
            font-size: 60px;
            color: black;
          }
        }
      }
    }
    #owl-slider, #owl-slider_2 {
      .item {
        background: white;
        color: #d4d6d7;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
        height: auto;
        i {
          font-size: 160px;
          text-align: center;
          display: block;
          margin: 0 auto;
          margin-top: -35px;
          margin-bottom: -40px;
          margin-left: -18px;
        }
        p {
          font-family: nunitolight;
          font-size: 18px;
          width: 80%;
          margin: 0 auto;
          text-transform: uppercase;
        }
        &:hover {
          background: #d9d9d9;
          i {
            color: #b4b6b7;
          }
        }

        a.btn {
          &:hover, &:active, &:focus, &:visited {
            background-color: white;
            outline: none;
            box-shadow: none;
          }

        }
      }
      .customNavigation {
        text-align: center;
      }
    }
    .customNavigation a {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    article.section_1 {


      section.after_slider {

        font-family: nunitolight;
        font-size: 23px;
        div.row {
          margin: 0 auto;
          max-width: none;
        }
        h3 {
          font-size: 30px;
          font-family: nunitolight;
          color: #00a0d3;
          margin-top: 29px;
          text-transform: uppercase;
        }
        h4
        {
          text-transform: uppercase;
          font-size: 23px;
          font-family: nunitolight;
          margin-left: -15px;
          margin-top: 30px;
        }
        ul li {
          font-family: nunitolight;
          font-size: 23px;
        }
      }
    }

    article.section_2 {
      margin-bottom: 64px;
      h2
      {
        margin-bottom: 12px
      }
    }
    article.section_3 {
      div.row {
        margin: 0 auto;
        max-width: none;
        margin-top: 48px;
        div.col-xs-12 {
          text-align: center;
          button.lorem {
            margin: 0 auto;
            margin-bottom: 20px;
            margin-top: 20px;
            height: 54px;
            width: 210px;
            margin-left: 46px;
          }
        }
        .col-md-6 {
          h3 {
            color: #00a0d3;
            font-family: nunitolight;
            font-size: 31px;
            line-height: 1;
            margin: 0 auto;
            padding: 0;
            margin-top: 4px;
            text-transform: uppercase;
            margin-left: -9px;
          }
          div.small_text {
            font-family: nunitolight;
            font-size: 17px;
            color: #bcbcbc;
            text-transform: uppercase;
            width: 219px;
            margin-left: -14px;
            margin-top: 4px;
          }
          ul {
            margin-bottom: 16px;
            margin-left: 26px;
            li {
              font-family: nunitolight;
              font-size: 20px;
              line-height: 1.2;
            }
          }
          &.left
          {
            width: 373px;
            margin-left: -32px;
          }
          &.right{
            width: 467px;
            aside p
            {
              font-size: 20px;
              line-height: 1.2;
              margin-bottom: 5px;
              b {
                font-weight: bold;
                text-transform: uppercase;
                color: black;
              }
            }
          }
        }
      }

    }
    .line {
      height: 3px;
      width: 1078px;
      background: #bcbcbc;
      margin: 0 auto;
      margin-top: 25px;
      margin-left: -118px;
      margin-bottom: 64px;
    }
  }
  section.after_content {
    color: #061826;
    background: #e8e8e9;
    padding: 34px 264px;
    margin: 0 auto;
    margin-top: 103px;
    height: 251px;
    h3 {
      font-family: nunitolight;
      font-size: 24px;
      text-transform: uppercase;
    }
    p {
      font-family: nunitoregular;
      font-size: 24px;
      margin-top: 24px;
      line-height: 1.4;
    }
  }
  footer {
    background: #061826;
    padding: 80px;
    color: #dfe5e8;
    div.icons {
      color: #6d6e71;
      overflow: hidden;
      float: right;
      position: relative;
      left: -174px;
      font-size: 29px;
      top: -44px;
      i{
        margin-right: 0px;
        margin-left: -7px;
      }
    }
    p {
      clear: both;
      font-family: nunitolight;
      font-size: 14px;
      width: 72%;
      margin: 0 auto;
      position: relative;
      top: -17px;
      line-height: 1.4;
    }
  }
}
@media all and (-ms-high-contrast:none) {
  body section#content #owl-slider .item i, body section#content #owl-slider_2 .item i {
    height: 260px;
  }
}

@media (max-width: 1440px) {
  body
  {
    width: 100%;
    header {

        height: 30vw;

      background-size: contain;
      h1{
        font-size: 4vw;
        width: 90%;
        margin: 0 auto;
        position: relative;
        left: 51px;
        margin-top: 8vw;
        .icons-play
        {
          font-size: 4vw;
        }
      }
    }
  }

}

@media (max-width: 991px) {
  body div#content div.section_3 div.row .col-md-6 {
    clear: both;
  }
}

@media (max-width: 840px) {
  body section#content h2
  {
    font-size: 4vw;
  }
  .owl-carousel
  {
    width: 100%;
  }
  body main nav
  {
    width: 100%;
    margin-bottom: 150px;
  }
  body main, body section#content
  {
    width: 95%;
  }
  .right_button, .left_button {
    display: none;
  }
  body section#content article.section_3 div.row .col-md-6
  {
   &.right, &.left
   {
     width: 100%;
   }
  }
  body section#content h2 .icons-play
  {
    left: 0px;
    margin-right: 0px;
  }
  .owl-carousel .owl-wrapper-outer
  {
    width: 100%;
  }
  body main nav ul li
  {
    width: 100%;
    margin-top: 6px;
  }
  body section#content .line
  {
    width: 100%;
    margin:0 auto;
  }
  body section.after_content {
    padding: 20px;
    height: auto;
  }
  body footer p {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: static;
  }
  body footer div.icons {
    position: static;
    float: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 834px) {
  body div#content {
    width: 95%;
    padding: 25px;
  }
}


@media (max-width: 765px) {
  body div#content h2 .icons-play {
    top: -1px;
  }
}
@media (max-width: 688px) {
  body div#content button {
    width: 100%;
  }
}

@media (max-width: 500px) {
  body div#content p {
    font-size: 4vw;
  }
  body div#content h2 {
    font-size: 6vw;
  }
}

// web fonts
@font-face {
  font-family: 'nunitolight';
  src: url('../fonts/nunito-light-webfont.eot');
  src: url('../fonts/nunito-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nunito-light-webfont.woff2') format('woff2'),
  url('../fonts/nunito-light-webfont.woff') format('woff'),
  url('../fonts/nunito-light-webfont.ttf') format('truetype'),
  url('../fonts/nunito-light-webfont.svg#nunitolight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'nunitoregular';
  src: url('../fonts/nunito-regular-webfont.eot');
  src: url('../fonts/nunito-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nunito-regular-webfont.woff2') format('woff2'),
  url('../fonts/nunito-regular-webfont.woff') format('woff'),
  url('../fonts/nunito-regular-webfont.ttf') format('truetype'),
  url('../fonts/nunito-regular-webfont.svg#nunitoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
