@font-face {
    font-family: 'ducquivo';
    src: url('../fonts/ducquivo.eot?71109218');
    src: url('../fonts/ducquivo.eot?71109218#iefix') format('embedded-opentype'),
    url('../fonts/ducquivo.woff?71109218') format('woff'),
    url('../fonts/ducquivo.ttf?71109218') format('truetype'),
    url('../fonts/ducquivo.svg?71109218#ducquivo') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ducquivo';
    src: url('../font/ducquivo.svg?71109218#ducquivo') format('svg');
  }
}
*/

[class^="icons-"]:before, [class*=" icons-"]:before {
    font-family: "ducquivo";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icons-angle-left:before { content: '\e800'; } /* '' */
.icons-play:before { content: '\e801'; } /* '' */
.icons-pdf:before { content: '\e802'; } /* '' */
.icons-twitter:before { content: '\e803'; } /* '' */
.icons-youtube:before { content: '\e804'; } /* '' */
.icons-facebook:before { content: '\e805'; } /* '' */
.icons-angle-right:before { content: '\e806'; } /* '' */